  <footer class="footer">
    <div class="footer-container bg-happy-muted-denim">
      <div class="container">
        <div class="col-md-2 text-center">
          <img src="//kungbib.github.io/frontend-guide/assets/kb_logo_white.svg" alt="" class="logo-medium" />
        </div>
        <div class="col-md-10 text-white">
          <p>
          <strong><a href="http://www.kb.se">
              KUNGL. BIBLIOTEKET
            </a></strong>
            <br>
            <span>Support: <a href="mailto:hkb@kb.se">hkb@kb.se</a></span>
          </p>
        </div>
      </div>
    </div>
  </footer>
