{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
Om musikkatalogen
{% endblock %}

{% block content %}

      <div class="row">
        <div class="col-md-8">
          <h1>Om Musikkatalogen</h1>
          <p>Den äldre musikkatalogen består egentligen av två kataloger: en alfabetisk och en systematisk. Den systematiska katalogen är den ursprungliga, och det var utifrån den som man skapade den alfabetiska, för att man skulle få en komplett bild av tonsättares verk. Katalogerna kompletterar varandra, men den alfabetiska används oftast. Ingen av dessa kataloger har någonsin varit tillgängliga för besökare, de har hela tiden stått nere i magasinet där musiktrycken förvaras, och de har därmed endast används av Kungl. Bibliotekets personal. Låntagarna har gjort sin beställning "in blanco" ("har ni möjligen…?"), och personalen har gått ner i magasinet för att undersöka saken. Det har varit tidskrävande – men framför allt har det inte gett god service till besökarna.</p>

          <p>Musikkatalogen omfattar tonsättningar från slutet av 1700-talet fram till 1975, då man började katalogisera musiktrycken i den <a href="http://libris.kb.se">nationella bibliotekskatalogen Libris</a>.</p>

          <p>Korten är handskrivna eller maskinskrivna, och signum är i många fall skrivet med blyerts i övre högra hörnet på korten. Många års tummande vid bläddring i katalogen har gjort att en del signa i princip är oläsliga. Det är inte alls bra, eftersom korrekt signum är en nödvändighet när man skall ta fram materialet.</p>

          <p>Informationen man får på korten är mycket varierande. Detta beror på flera saker. Det var först på 1970-talet som KB fick en speciell musikbibliotekarie. Innan dess katalogiserades musiktrycken av "vanliga" bibliotekarier med varierande musikkunskaper. Dessutom prioriterades katalogisering av litteratur framför katalogisering av musiktryck.</p>

          <p>I och med att musikkatalogen sträcker sig över ett så stort tidsspann – nära 200 år – är den spegling av sin samtid. Det gör att det kan förekomma termer eller värderingar som kan uppfattas som förlegade, kanske till och med stötande. Vi kan naturligtvis inte göra någonting åt den saken.</p>

          <p>Äntligen har denna fantastiska katalog, som innehåller så mycket information om den svenska musikskatten blivit tillgänglig. Den öppnar portarna till en viktig samling på Kungliga biblioteket.</p>

          <h2>Frågor om katalogen?</h2>
          <p>Har du frågor om katalogen, kontakta oss på <a href="mailto:hkb@kb.se">hkb@kb.se</a>. Ange gärna en länk till den sida/det kort din fråga rör.</p>

          <h2>Om betaversionen</h2>
          <p>Denna betaversion är även ett test av att använda billig utrustning och öppen programvara för att snabbt digitalisera en katalog. Digitaliseringen och utvecklingen av applikationen genomfördes på 7 dagar. För OCR-tolkning användes <a href="https://code.google.com/p/tesseract-ocr/">Tesseract</a> med en ordlista utökad med material från ett <a href="http://runeberg.org/muslex/">musiklexikon digitaliserat av Projekt Runeberg</a>. Visningsgränssnittet är utvecklat i <a href="https://www.djangoproject.com">Django</a>.</p>

          <h2>Innehållet är fritt att återanvända</h2>
          <p>Bildfiler och texter i katalogen är fritt att återanvända enligt licensen <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.</p>
        </div>




        <div class="col-md-4">
          <h2>Verk av Joachim Nicolas Eggert</h2>
          <p><a href="https://sv.wikipedia.org/wiki/Joachim_Nicolas_Eggert">Joachim Nicolas Eggert</a> (1779-1813) var en svensk kompositör och dirigent. <a href="/alfa/7995/">Kort 7995</a> beskriver ett av verken i katalogen:
          <p lang="fr" class="example">Trio par Eggert, Maître de Chapell de sa Majeste le Roi de Suede. [Partitur] Stockholm Imp. hith. de C. Müller. "Sjung du! Hvad då?" (Sv. och franska ord.)</p>
          <p>
            <a href="/alfa/7995/">
              <img src="/static/alfa/0022_musik-alfa_DU-EH/0022_alfa_20140708_0317_view500.jpg" alt="Katalogkort för verket Sjung du! Hvad då? av Joachim Nicolas Eggert" style="width:100%">
            </a>
          </p>
        </div>
      </div>

      {% include "_footer.html" %}

{% endblock %}
