{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
Om musikkatalogen
{% endblock %}

{% block content %}

    <div class="container" role="main">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-header">Om Musikkatalogen</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Den äldre musikkatalogen består egentligen av två kataloger: en alfabetisk och en systematisk. Den systematiska katalogen är den ursprungliga, och det var utifrån den som man skapade den alfabetiska, för att man skulle få en komplett bild av tonsättares verk. Katalogerna kompletterar varandra, men den alfabetiska används oftast. Ingen av dessa kataloger har någonsin varit tillgängliga för besökare, de har hela tiden stått nere i magasinet där musiktrycken förvaras, och de har därmed endast används av Kungl. Bibliotekets personal. Låntagarna har gjort sin beställning "in blanco" ("har ni möjligen…?"), och personalen har gått ner i magasinet för att undersöka saken. Det har varit tidskrävande – men framför allt har det inte gett god service till besökarna.</p>

          <p>Musikkatalogen omfattar tonsättningar från slutet av 1700-talet fram till 1975, då man började katalogisera musiktrycken i den <a href="http://libris.kb.se">nationella bibliotekskatalogen Libris</a>.</p>

          <p>Korten är handskrivna eller maskinskrivna, och signum är i många fall skrivet med blyerts i övre högra hörnet på korten. Många års tummande vid bläddring i katalogen har gjort att en del signa i princip är oläsliga. Det är inte alls bra, eftersom korrekt signum är en nödvändighet när man skall ta fram materialet.</p>

          <p>Informationen man får på korten är mycket varierande. Detta beror på flera saker. Det var först på 1970-talet som KB fick en speciell musikbibliotekarie. Innan dess katalogiserades musiktrycken av "vanliga" bibliotekarier med varierande musikkunskaper. Dessutom prioriterades katalogisering av litteratur framför katalogisering av musiktryck.</p>

          <p>I och med att musikkatalogen sträcker sig över ett så stort tidsspann – nära 200 år – är den spegling av sin samtid. Det gör att det kan förekomma termer eller värderingar som kan uppfattas som förlegade, kanske till och med stötande. Vi kan naturligtvis inte göra någonting åt den saken.</p>

          <p>Äntligen har denna fantastiska katalog, som innehåller så mycket information om den svenska musikskatten blivit tillgänglig. Den öppnar portarna till en viktig samling på Kungliga biblioteket.</p>

          <h2>Innehåll</h2>
          <p>Katalogen innehåller ca 38000 kort. Vissa kort har transkriberad eller OCR-tolkad text för att underlätta sökning. Vi har varit frikostiga med att inkludera kort där OCR-tolkningen haft låg precision för att inte missa kort  som innehåller både hand- och maskinskriven text. Därför kan det finnas flera kort där texten är oläsbar.</p>
          <p>På sidan för ett kort kan du klicka på bilden för att se den i full upplösning.</p>

          <h2>Frågor om katalogen?</h2>
          <p>Har du frågor om katalogen, kontakta oss på <a href="mailto:hkb@kb.se">hkb@kb.se</a>. Ange gärna en länk till den sida/det kort din fråga rör.</p>

          <h2>Om betaversionen</h2>
          <p>Denna betaversion är även ett test av att använda billig utrustning och öppen programvara för att snabbt digitalisera en katalog. Digitaliseringen och utvecklingen av applikationen genomfördes på 7 dagar. För OCR-tolkning användes <a href="https://code.google.com/p/tesseract-ocr/">Tesseract</a> med en ordlista utökad med material från ett <a href="http://runeberg.org/muslex/">musiklexikon digitaliserat av Projekt Runeberg</a>. Visningsgränssnittet är utvecklat i <a href="https://www.djangoproject.com">Django</a>.</p>
          <p>
          Observera att länkar ännu inte är stabila utan kan komma att ändras när vi undersöker katalogen för dubbletter och felaktigt importerade kort.
          </p>

          <h2>Innehållet är fritt att återanvända</h2>
          <p>Bildfiler och texter i katalogen är fria att återanvända enligt <span lang="en">Creative Commons</span> <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.</p>
        </div>



        <div class="col-md-4">
          <p>Melodier framförda av <a href="http://sv.wikipedia.org/wiki/Jenny_Lind">Jenny Lind</a>:</p>
          <p class="quote"><span lang="en">Melodies. The Swedish Meoldies as sung by Mad:lle Jenny Lind, at the private soirées musicales of Her Majesty at Buckingham Palace, Her Majesty's Theatre, and the Nobility's Concerts. With the original words, and English adoptions. This is the only authorized edition of Mad:lle Jenny Lind's songs, the Piano Forte arrangements are by Herr Kuhe,... and the copyrights have been legally assigned to Messrs Julian &amp; Co by Mr Hirsch of Stockholm. No 1-5</span> <span lang="sv">(6-7 fattas)</span></p>
          <ul lang="en" class="quote">
            <li>The pasture song. <span lang="sv">Herdesång</span></li>
            <li>Love smiles no more. <span lang="sv">"Fjerran i skog"</span></li>
            <li>The stars of heaven is gleaming. <span lang="sv">"Allt under himmelens fäste".</span></li>
            <li>The dance song. Pretty, pretty girl. <span lang="sv">"Kom du lilla flicka".</span></li>
            <li>The lost boys return. <span lang="sv">Skjutsgossen på hemvägen.</span></li>
          </ul>

          <p>
            <a href="/alfa/21637/">
              <img src="/static/alfa/0058_musik-alfa_MELO-MET/0058_alfa_20140711_0165_view500.jpg" alt="Katalogkort som beskriver Jenny Linds framförande." style="width:100%">
            </a>
          </p>
        </div>
      </div>
    </div>
{% endblock %}
