{% load staticfiles %}
<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}Musikkatalogen{% endblock %}</title>
    <link href="//kungbib.github.io/frontend-guide/css/kb-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/kb.css' %}" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_opengraph %}
    <meta property="og:url" content="https://musikkatalogen.kb.se" />
    <meta property="og:title" content="Musikkatalogen - Kungl. Biblioteket" />
    <meta property="og:description" content="Digitaliserad version av den äldre musikkatalogen på Kungl. Biblioteket." />
    <meta property="og:image" content="https://musikkatalogen.kb.se/static/img/0092_alfa_20140708_0027_beskuren.jpg" />
    {% endblock %}
  </head>
  <body>
    <nav class="navbar bg-pastel-muted-blue text-white">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-logo" href="/"><img src="//kungbib.github.io/frontend-guide/assets/kb_logo_white.svg" alt="Till startsidan"/></a>
          <a class="navbar-brand" href="/">Musikkatalogen (beta)</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/om/">Om musikkatalogen</a></li>
            </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% include "_footer.html" %}
  </body>
</html>
