{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
#{{card.catalog_sequence_number}} {{card.name}} - Musikkatalogen
{% endblock %}

{% block head_opengraph %}
<meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:title" content="Kort {{card.catalog_sequence_number}}: {{card.name}}" />
    <meta property="og:description" content="{{card.name}} Katalogkort {{card.catalog_sequence_number}} i Kungl. Bibliotekets musikkatalog." />
    <meta property="og:image" content="https://musikkatalogen.kb.se/static/alfa/{{fullres_image_url}}" />
{% endblock %}

{% block content %}

      {% include "_paginator.html" %}

      <div class="row">
        <div class="col-md-6 card">
          <h1>#{{card.catalog_sequence_number}}: {{card.name}}</h1>
          <a href="/static/alfa/{{fullres_image_url}}"><img class="preview" src="/static/alfa/{{image_url}}"  alt="{{card.name}} {{card.ocr_text}}"></a>
        </div>
        <div class="col-md-3">
          <dl>
          {% if card.arr_tr %}
          <dt>Arrangemang:</dt>
          <dd>{{card.arr_tr}}</dd>
          {% endif %}

          {% if card.pseudonym_tr %}
          <dt>Pseudonym:</dt>
          <dd>{{card.pseudonym_tr}}</dd>
          {% endif %}

          {% if card.title_tr %}
          <dt>Verk:</dt>
          <dd>{{card.title_tr}}</dd>
          {% endif %}
          </dl>

          {% if card.ocr_text %}
          <h2>OCR-text</h2>
          <p>{{card.ocr_text|linebreaks}}</p>


          <div class="panel panel-warning">
            <div class="panel-heading">
              Konstig text ovan?
            </div>
            <div class="panel-body">
              <p>Den automatiska konverteringen kan ha skapat felaktiga tecken.</p>
            </div>
          </div>
          <hr>
          {% endif %}
          <p><a class="btn btn-primary btn-block question" href="mailto:hkb@kb.se?subject=Fråga om kort {{card.catalog_sequence_number}} i musikkatalogen" role="button"><span class="glyphicon glyphicon-info-sign"></span> Fråga om detta kort</a></p>
          <dl>
            <dt class="cardno">Kortnr:</dt>
            <dd>{{card.catalog_sequence_number}}</dd>
            <dt class="boxno">Låda:</dt>
            <dd>{{card.box.sequence_number}} {{card.box.label}}</dd>
            <dt class="img_filename">Bildfil:</dt>
            <dd>{{card.filename}}</dd>
            <dt class="updated">Uppdaterad:</dt>
            <dd>{{card.updated_at}}</dd>
          </dl>
        </div>
        <div class="col-md-3" role="complementary">
          <h2>Låda {{card.box.sequence_number}} {{card.box.label}}</h2>
          <ul class="list-unstyled box">
            {% for c in box_cards %}
              <li>
              {% if c.catalog_sequence_number = card.catalog_sequence_number %}
              <a href="{% url "cardurl" c.box.catalog.slug c.catalog_sequence_number %}" class="selected">#{{c.catalog_sequence_number}}: {{c.name}}</a>
              {% else %}
              <a href="{% url 'cardurl' c.box.catalog.slug c.catalog_sequence_number %}">{{c.catalog_sequence_number}}: {{c.name}}</a>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% include "_paginator.html" %}

      {% include "_footer.html" %}

{% endblock %}
