{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
#{{card.catalog_sequence_number}} {{card.name}} - Musikkatalogen
{% endblock %}

{% block head_opengraph %}
<meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:title" content="Kort {{card.catalog_sequence_number}}: {{card.name}}" />
    <meta property="og:description" content="{{card.name}} Katalogkort {{card.catalog_sequence_number}} i Kungl. Bibliotekets musikkatalog." />
    <meta property="og:image" content="https://musikkatalogen.kb.se/static/alfa/{{fullres_image_url}}" />
{% endblock %}

{% block content %}

    <div class="container card" role="main" vocab="http://schema.org/" prefix="xhv:http://www.w3.org/1999/xhtml/vocab#" typeof="ItemPage">
      <meta property="isPartOf" href="https://musikkatalogen.kb.se" />
      {% include "_paginator.html" %}

      <div class="row">
        <div class="col-md-12">
          <h1 class="page-header" property="name">#{{card.catalog_sequence_number}}: {{card.name}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" property="associatedMedia" typeof="ImageObject">
          <meta property="isFamilyFriendly" content="true" />
          <meta property="representativeOfPage" content="true" />
          <meta property="inLanguage" href="http://lexvo.org/id/iso639-3/swe" />
          <meta property="license" href="http://creativecommons.org/publicdomain/mark/1.0/" />
          <a property="contentUrl" href="/static/alfa/{{fullres_image_url}}"><img property="embedUrl" class="preview" src="/static/alfa/{{image_url}}"  alt="{{card.name}} {{card.ocr_text}}"></a>
        </div>
{% if card.title_tr or card.arr_tr %}
        <div class="col-md-3" property="mainEntity" typeof="MusicComposition" id="work">
{% else %}
        <div class="col-md-3">
{% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Information</h3>
                </div>
                <div class="panel-body">
          <dl>

          <dt class="cardno">Kortnr:</dt>
          <dd>{{card.catalog_sequence_number}}</dd>
          <dt class="boxno">Låda:</dt>
          <dd>{{card.box.sequence_number}} {{card.box.label}}</dd>
          {% if card.arr_tr %}
            <dt>Arrangemang:</dt>
            <dd property="musicArrangement" class="arr" typeof="Person">
              <span property="name">{{card.arr_tr}}</span>
              <meta property="sameAs" href="http://id.kb.se/some?type=Person&amp;q={{card.arr_tr|iriencode}}" />
            </dd>
          {% endif %}

          {% if card.pseudonym_tr %}
          <dt>Pseudonym:</dt>
          <dd class="pseud">{{card.pseudonym_tr}}</dd>
          {% endif %}

          {% if card.title_tr %}
          <dt>Verk:</dt>
          <dd class="work" property="name" lang="">{{card.title_tr}}</dd>
          {% endif %}

          {% if card.ocr_text %}
          <dt>OCR-text:</dt>
          <dd class="ocr">{{card.ocr_text|linebreaks}}</dd>
          {% endif %}

          </dl>
                  </div>
            </div>

          {% if card.ocr_text %}
          <div class="panel panel-warning">
            <div class="panel-heading">
              Konstig text ovan?
            </div>
            <div class="panel-body">
              <p>Den automatiska konverteringen kan ha skapat felaktiga tecken.</p>
            </div>
          </div>
          {% endif %}

          <p><a class="btn btn-primary btn-block question" href="mailto:hkb@kb.se?subject=Fråga om kort {{card.catalog_sequence_number}} i musikkatalogen" role="button">Fråga om detta kort</a></p>
        </div>
        <div class="col-md-3" role="complementary">
          <h2>Låda {{card.box.sequence_number}} {{card.box.label}}</h2>
          <ul class="list-unstyled box">
            {% for c in box_cards %}
              <li>
              {% if c.catalog_sequence_number = card.catalog_sequence_number %}
              <a href="{% url "cardurl" c.box.catalog.slug c.catalog_sequence_number %}" class="selected">#{{c.catalog_sequence_number}}: {{c.name}}</a>
              {% else %}
              <a href="{% url 'cardurl' c.box.catalog.slug c.catalog_sequence_number %}">{{c.catalog_sequence_number}}: {{c.name}}</a>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% include "_paginator.html" %}
    </div>

{% endblock %}
