{% extends "base.html" %}
{% block content %}

<div class="jumbotron bg-grey-lighter ">
  <div class="container text-black">
    <h1 class="text-small calltoaction">Sök i Kungl. Bibliotekets äldre musikkatalog</h1>
    <form class="form-horizontal" method="get" action="/search/" role="search">
      <div class="form-group">
        <div class="col-md-3"></div>
        <div class="col-md-4">
          <label class="sr-only" for="q">Sök efter</label>
          <input type="search" id="q" name="q" class="form-control">
        </div>
        <div class="col-md-2 col-xs-12">
          <button type="submit" id="searchbtn" class="btn-block btn btn-primary">Sök</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
</div>

    <div class="container" role="main">
      <div class="row">
        <div class="col-md-6">
          <h1>Om Musikkatalogen</h1>

          <p>Musikkatalogen omfattar tonsättningar från slutet av 1700-talet fram till 1975, då man började katalogisera musiktrycken i den <a href="http://libris.kb.se">nationella bibliotekskatalogen Libris</a>.</p>

          <p>Katalogen innehåller ca 38&#160;000 kort. Vissa kort har transkriberad eller OCR-tolkad text för att underlätta sökning. Vi har varit frikostiga med att inkludera kort där OCR-tolkningen haft låg precision för att inte missa kort som innehåller både hand- och maskinskriven text. Därför kan det finnas flera kort där texten är oläsbar vilket påverkar sökmöjligheterna.</p>

        </div>
        <div class="col-md-6 teaser">
          <p><a href="/alfa/35181/"><img src="/static/img/0092_alfa_20140708_0027_beskuren.jpg" alt="Kort 35181, verk av August Wallenberg"></a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Alfabetiskt index</h2>
          <p>Utgå från det alfabetiska indexet genom att välja en bokstav nedan.</p>
          <ul class="pagination pagination-sm">
            {% for card in index_cards %}
            <li>
            <a href="{% url "cardurl" card.box.catalog.slug card.catalog_sequence_number %}">{{card.letter}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
